<a href="https://colab.research.google.com/github/joelsnz/joelsnz/blob/main/Notebook/Trabajo_Diccionarios/Notebook_1_Diccionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Qué es un diccionario?

Un diccionario es una *estructura de datos* de Python:

- Una estructura de datos es una forma que tiene un lenguaje de programación de organizar cierta información
  - Hay 4 incorporadas: listas, diccionarios, set y tuplas.
  - No nativas: DataFrames, np.array, pd.Series, etc.

##  Estructura:
 - pares llave:valor (key:value)
 - las llaves deben ser objetos inmutables: *(str, int, float)* ya que este tipo de datos son *hasheables*, se les asigna un **ID único** para acceder a ellos rápidamente
 - Sus llaves se pueden ordenar desde Python 3.7 (en 2022 estamos en 3.9)

## ¿Qué ventajas tiene?

  - Permiten almacenar información con diferentes tipos de datos de una forma estructurada
  - Rápidos de acceder debido al [hash](https://www.programiz.com/python-programming/methods/built-in/hash) de las llaves
  - Formato común en APIs, por lo que es conveniente saber usarlos.

# Crear diccionarios:

Hay dos métodos principales, que funcionan igual:

### Método 1
Creándolo con llaves *{}*

In [ ]:
dct = {
    'numero': 1,
    'diccionario': {2: 'string1',
                    3: 'string2'},
     'lista': [4, 5, 6]
      }

### Método 2
Creándolo con la función `dict(lista_tuplas)`:

In [ ]:
## Creamos exactamente el mismo diccionario

dct2 = dict([('numero', 1),
            ('diccionario', {2: 'string1', 3: 'string2'}),
            ('lista', [4, 5, 6])])

In [ ]:
## Comprobamos

dct == dct2

True

## Bonus!

Un compañero nos ha compartido un método que no aparece en clase.

También podemos crear diccionarios de columnas de nuestros DataFrames con el método `df['col'].to_dict()`:

In [ ]:
import pandas as pd

data = range(5)
index = ['a', 'b', 'c', 'd', 'e' ]

df = pd.DataFrame(data = data, index = index)

In [ ]:
df[0].to_dict()

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}

Gracias Daniel Ramírez!

# Acceder información
Para acceder a los datos contenidos en nuestros diccionarios, lo haremos usando métodos asociados a ellos (ya que son objetos)

## Llaves (keys)

Para obtener una lista de las llaves, usamos el método `dict.keys()`

In [ ]:
dct.keys()

dict_keys(['numero', 'diccionario', 'lista'])

## Valores (values)

Con otro método, accedemos a sus valores:

In [ ]:
dct.values()

dict_values([1, {2: 'string1', 3: 'string2'}, [4, 5, 6]])

También podemos acceder a los valores de ciertas llaves indicando el nombre de la propia llave:

In [ ]:
dct['lista']

[4, 5, 6]

## Llaves y valores (items)

Podemos extraer una lista de tuplas con los elementos (llave, valor) de nuestro diccionario:

In [ ]:
dct.items()

dict_items([('numero', 1), ('diccionario', {2: 'string1', 3: 'string2'}), ('lista', [4, 5, 6])])

# Añadir valores

### Método 1

Usando el accesor `dict['llave']`:

In [ ]:
dct['Mastermind'] = 'Ciencia de datos'

dct

{'numero': 1,
 'diccionario': {2: 'string1', 3: 'string2'},
 'lista': [4, 5, 6],
 'Mastermind': 'Ciencia de datos'}

### Método 2

Usando el método `dict.update([(tupla llave, valor)])`:

In [ ]:
tupla1 = ('llave_tupla1', 10)
tupla2 = ('llave_tupla2', 20)

dct.update([tupla1, tupla2])

# Eliminar valores

## Extrayendo un valor

Podemos extraer un valor de nuestro diccionario para asignarlo a una variable con `dct.pop()`

In [ ]:
lista = dct.pop('lista')

lista

[4, 5, 6]

In [ ]:
dct

{'numero': 1,
 'diccionario': {2: 'string1', 3: 'string2'},
 'Mastermind': 'Ciencia de datos',
 'llave_tupla1': 10,
 'llave_tupla2': 20}

## Eliminar una llave

El *keyword* `del dct[llave]` eliminará la llave indicada en nuestro diccionario:

In [ ]:
del dct['diccionario']

dct

{'numero': 1,
 'Mastermind': 'Ciencia de datos',
 'llave_tupla1': 10,
 'llave_tupla2': 20}

# zip()

* Para construir diccionarios a partir de listas ordenadas, podemos usar la función *zip()*

* *zip()* es una función nativa de Python que coge objetos iterables *(listas, sets, diccionarios)* y construye una **tupla** con cada valor de cada uno de ellos, por orden.

* esto resultará en un *objeto tipo zip*.

* **se tiene que invocar con una función que lo transforme en un iterable** para mostrar los pares de tuplas

* `zip(it1, it2)` devolverá un objeto tipo zip

In [ ]:
it1 = [x for x in range(10)]
it2 = [x**2 for x in it1]

zip(it1, it2)

* Si lo incluimos en una lista, nos devuelve pares de tuplas:

In [ ]:
list(zip(it1, it2))

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

* Con la función dict() podemos rápidamente transformar este zip en un diccionario:

In [ ]:
dct = dict(zip(it1, it2))

dct

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Dictionary Comprehension

* Como las list comprehension, sirven para facilitar el proceso de creación de diccionarios

* Iteraremos por las tuplas que contienen tanto las llaves como los valores, con dict.items():

`{key:value for (key,value) in dict.items()}`

Vamos a sumar 1 a tanto las llaves como los valores de nuestro diccionario anterior:

In [ ]:
dct

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
dct2 = {key+1: value+1 for (key,value) in dct.items()}

dct2

{1: 1, 2: 2, 3: 5, 4: 10, 5: 17, 6: 26, 7: 37, 8: 50, 9: 65, 10: 82}

# Ejercicios

### 1: Construye un diccionario con **a** como llaves, y los valores de **b** elevados al cuadrado:

In [13]:
a = ['Cinco', 'Nueve', 'Trece']
b = [5, 9, 13]

## codigo aquí

dct1 = dict(zip(a, [i*i for i in b]))

dct1

{'Cinco': 25, 'Nueve': 81, 'Trece': 169}

In [2]:
#@title Solucion

dct = dict(zip(a, [x**2 for x in b]))

dct

{'Cinco': 25, 'Nueve': 81, 'Trece': 169}

### 2: Escribe un *script* que construya un diccionario a partir de `dct`, tomándo sólo las llaves en la lista `llaves`:

In [14]:
dct = {
    "nombre": "Yosuke",
    "edad": 32,
    "salario": 82000,
    "ciudad": "Tokyo",
    "profesión": "Data Scientist"}

## codigo aquí

llaves = ["edad", "ciudad"]

dct2 = {llave: dct[llave] for llave in llaves}

dct2

{'edad': 32, 'ciudad': 'Tokyo'}

In [6]:
#@title Solucion

nuevo_dict = {llave: dct[llave] for llave in llaves}

nuevo_dict

{'edad': 32, 'ciudad': 'Tokyo'}

### 3: Construye un **Frequency Table**, es decir, un diccionario en el que las *llaves* sean los valores únicos de la lista `numeros`, y sus *valores* sean la cantidad de veces que se repiten.

In [15]:
numeros = [1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 5,
        5, 3, 1, 3, 3, 1, 4, 4, 2, 2, 5, 3, 1, 3, 3, 1,
        4, 4, 4, 2, 2, 5, 5, 3, 1, 3, 3, 1, 4, 4, 2, 2]

## codigo aquí

dct3 = {}

for n in numeros:
  if n in dct3:
    dct3[n] += 1
  else:
    dct3[n] = 1

dct3

{1: 11, 5: 7, 3: 12, 4: 10, 2: 8}

In [12]:
#@title Solucion

def freq_table(lista):

    # Creamos un diccionario vacio
    dct = {}

    for i in lista:

        if i in dct:
            dct[i] += 1
        else:
            dct[i] = 1

    return dct

freq_table(numeros)

{1: 11, 5: 7, 3: 12, 4: 10, 2: 8}

### 4: Construye un diccionario transformando los valores de kg a libras con la relación proporcionada:

In [24]:
kg = {'peso1': 53, 'peso2': 99, 'peso3': 89, 'peso4': 83}

kg_a_libras = 2.20462 ## Relación Kg/Libras

## codigo aquí

lb = {key: value*kg_a_libras for (key, value) in kg.items()}

lb

{'peso1': 116.84485999999998,
 'peso2': 218.25737999999998,
 'peso3': 196.21117999999998,
 'peso4': 182.98345999999998}

In [ ]:
#@title Solucion 1

dct = { key: value*kg_a_libras for (key, value) in kg.items()}

dct

In [ ]:
#@title Solucion 2 (avanzada)

libras = list(map(lambda x: x * kg_a_libras, kg.values()))

dct = dict(zip(kg.keys(), libras))

dct